{% load static %}

<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
      <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
      <title>Status School | Register</title>
      
      <!-- Favicon -->
      <!-- <link rel="shortcut icon" href="{% static 'assets/images/favicon.ico' %}" /> -->
      
      <link rel="stylesheet" href="{% static 'assets/css/backend-plugin.min.css' %}">
      <link rel="stylesheet" href="{% static 'assets/css/backend.css' %}">  </head>
      <link rel="stylesheet" href="{% static 'assets/css/my.css' %}">  </head>
  <body class=" color-light ">
    <!-- loader Start -->
    <div id="loading">
          <div id="loading-center">
          </div>
    </div>
    <!-- loader END -->
    <!-- Wrapper Start -->
    <div class="wrapper">

     
        <div class="container">
            <!-- start about -->
          <div class="card card-block  align-items-center">
            <img class="card-img-top" src="{% static 'assets/images/logo.jpg' %}" />  
            <div class="card-header text-center">
                <h4 class="card-title"  style="font-weight: 900;">
                    Prezident va ixtisoslashtirilgan maktablarga tayyorlov markazi
                </h4>
            </div>
            <!-- start card body -->
              <div class="card-body align-items-center">
                <h6 class="text-center mb-3">
                    <svg xmlns="http://www.w3.org/2000/svg" class="text-primary mr-2" width="20" fill="none" viewBox="0 0 24 24" stroke="currentColor">
                        <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M9 12l2 2 4-4m6 2a9 9 0 11-18 0 9 9 0 0118 0z"></path>
                        </svg>
                    Bizda Prezident maktabiga qabul qilinganlar ko'pchilikni tashkil etadi
                </h6>
                <div class="card-photos mb-5">
                    <ul class="list-unstyled p-0 m-0 row">
                        <li class="col-lg-4 col-md-6 col-sm-6 mt-2">
                            <img src="{% static 'assets/images/children/10.jpg' %}" class="img-thumbnail w-100 img-fluid rounded" alt="Responsive image">
                        </li>
                        <li class="col-lg-4 col-md-6 col-sm-6 mt-2">
                            <img src="{% static 'assets/images/children/20.jpg' %}" class="img-thumbnail w-100 img-fluid rounded" alt="Responsive image">
                        </li>
                        <li class="col-lg-4 col-md-6 col-sm-6 mt-2">
                            <img src="{% static 'assets/images/children/30.jpg' %}" class="img-thumbnail w-100 img-fluid rounded" alt="Responsive image">
                        </li>
                     </ul>
                </div>

                <div class="list-subjects">
                    <h5 class="text-center mb-1">BIZ NIMANI O'QITAMIZ</h5>
                    <ul class="list-group list-group-flush align-items-center">
                        <li class="list-group-item">Matematika</li>
                        <li class="list-group-item">Logika</li>
                        <li class="list-group-item">Tanqidiy fikrlash</li>
                        <li class="list-group-item">Ingliz tili</li>
                        <li class="list-group-item disabled">Albatta dasturlar asosida</li>
                     </ul>
                </div>

                <div class="align-items-center">
                    <ul class="list-inline">
                        <li class="d-flex align-items-center mb-3 mt-5 justify-content-center">
                            <div class="profile-icon iq-icon-box rounded-small bg-danger-light svg-danger text-center">
                               <svg width="24" height="20" viewBox="0 0 24 20" fill="none" xmlns="http://www.w3.org/2000/svg">
                                  <g clip-path="url(#clip0)">
                                     <path d="M23.3379 5.745L12.8777 2.53125C12.3077 2.35612 11.6927 2.35612 11.1231 2.53125L0.662429 5.745C-0.220321 6.01612 -0.220321 7.18349 0.662429 7.45462L2.48605 8.01487C2.08593 8.50949 1.83993 9.11287 1.81555 9.77362C1.45443 9.98062 1.20018 10.3541 1.20018 10.8C1.20018 11.2042 1.41318 11.5444 1.71993 11.7619L0.762554 16.0699C0.679304 16.4445 0.964304 16.8 1.34793 16.8H3.45205C3.83605 16.8 4.12105 16.4445 4.0378 16.0699L3.08043 11.7619C3.38718 11.5444 3.60018 11.2042 3.60018 10.8C3.60018 10.3661 3.35755 10.0031 3.01293 9.79237C3.04143 9.22912 3.32943 8.73112 3.7888 8.41537L11.1227 10.6687C11.4624 10.773 12.1142 10.9031 12.8773 10.6687L23.3379 7.45499C24.2211 7.1835 24.2211 6.0165 23.3379 5.745V5.745ZM13.2298 11.8159C12.1599 12.1444 11.2483 11.9629 10.7702 11.8159L5.33193 10.1452L4.80018 14.4C4.80018 15.7256 8.02368 16.8 12.0002 16.8C15.9767 16.8 19.2002 15.7256 19.2002 14.4L18.6684 10.1449L13.2298 11.8159V11.8159Z" fill="currentColor"></path>
                                  </g>
                                  <defs>
                                     <clipPath>
                                        <rect width="24" height="19.2" fill="white"></rect>
                                     </clipPath>
                                  </defs>
                               </svg>
                            </div>
                            <div class="ml-3">
                               <h5>Ikkita bepul darsimizga kelib ko'ring</h5>
                            </div>
                         </li>
    
                    </ul>

                </div>

              </div>
              <!-- end card body -->
          </div>
        <!-- end about -->


          <!-- start form -->
          <div class="card card-block">
            <div class="card-header text-center">
                <h4 class="text-center">Ariza qoldiring:</h4>
            </div>

            <div class="card-body">
                <form method="post"  enctype="multipart/form-data">
                    {% csrf_token %}

                {% for f in form %}
                {{ f.errors }} 
                {{ f.label_tag }}    {{ f }}
                {% endfor %}

                    <button type="submit" class="btn btn-primary">Ariza berish</button>

               </form>

            </div>
          </div>

          <!-- end form -->





      </div>

    </div>
    <!-- Wrapper End-->
    <footer class="">

    </footer>    <!-- Backend Bundle JavaScript -->
    <script src="{% static 'assets/js/backend-bundle.min.js' %}"></script>
    <!-- Chart Custom JavaScript -->
    <script src="{% static 'assets/js/customizer.js' %}"></script>
    
    <script src="{% static 'assets/js/sidebar.js' %}"></script>
    
    <!-- Flextree Javascript-->
    <script src="{% static 'assets/js/flex-tree.min.js' %}"></script>
    <script src="{% static 'assets/js/tree.js"></script>
    
    <!-- Table Treeview JavaScript -->
    <script src="{% static 'assets/js/table-treeview.js' %}"></script>
    
    <!-- SweetAlert JavaScript -->
    <script src="{% static 'assets/js/sweetalert.js' %}"></script>
    
    <!-- Vectoe Map JavaScript -->
    <script src="{% static 'assets/js/vector-map-custom.js' %}"></script>
    
    <!-- Chart Custom JavaScript -->
    <script src="{% static 'assets/js/chart-custom.js' %}"></script>
    <script src="{% static 'assets/js/charts/01.js' %}"></script>
    <script src="{% static 'assets/js/charts/02.js"></script>
    
    <!-- slider JavaScript -->
    <script src="{% static 'assets/js/slider.js' %}"></script>
    
    <!-- Emoji picker -->
    <script src="{% static 'assets/vendor/emoji-picker-element/index.js' %}" type="module"></script>
    
    
    <!-- app JavaScript -->
    <script src="{% static 'assets/js/app.js' %}"></script>  </body>
</html>